# ignore all logs
*.log

# Unity environment
#navigation/Banana_Linux/
BananaCollector/Banana_Linux/
Reacher/Reacher_Linux/
Tennis/Tennis_Linux/
Soccer/Soccer_Linux/

# Python binaries
**/__pycache__/
*.py[cod]

# IPython checkpoints
**/.ipynb_checkpoints

# VS code files
**/.vscode/

# Pycharm files
**/.idea/

# Local test py file
test.py
